
body {
    overflow-x: hidden;
}
header nav .logo img{
    height: 5rem;
}
header nav ul{
    display: none;
}

/* SHOWCASE SECTION */
.showcase-text-container{
    width: 90%;
    height: 90%;
}
.showcase-text-container div p,
.showcase-text-container div p span{
    width: unset;
    height: unset;
}
.showcase-text-container div p{
    width: 90%;
}
/* ABOUT US PREVIEW SECTION */
.our-services-preview-section,
.our-services-card,
.our-services-card-info-container div
{
    height: unset;
}
.about-us-preview-head > div{
    height: unset;
}
.about-us-preview-container{
    flex-direction: column;
}
.about-us-preview-head,
.about-us-preview-info{
    width: 100%;
}
.about-us-preview-info  > div{
    width: 100%;
}
.about-us-preview > div,
.about-us-preview-container > div,
.about-us-preview-head > div,
.about-us-preview-info  div
{
    height: unset;
}
.about-us-preview-info h2, .about-us-preview-info p{
    width: 90%;
}
.about-us-preview-head{
    height: 15rem !important;
    align-items: flex-start;
    padding: 2rem 0 0 0;
}
.about-us-preview-head > div{
    width: 85%;
    height: 40%;
    justify-content: flex-start;
    align-items: flex-start;
}
.about-us-preview-head div h1{
    font-size: 3rem;
}
.about-us-preview-info div{
    gap: 1rem;
    padding: 1rem 0 1.5rem 0;
    align-items: center;
}
.line{
    left: 50%;
    transform: translateX(-50%);
}
/* OUR SERVICES PREVIEW SECTION */
.our-services-preview-section{
    gap: 2rem;
    padding: 2rem 0 0 0;
}
.our-services-preview-section h1{
    font-size: 3rem;
}

.our-services-card-container{
    flex-direction: column;
    width: 100%;
}
.our-services-card{
    width: 100%;
    flex-direction: column;
}
.our-services-card .img-sec,
.our-services-card-info{
    width: 100%;
    flex: 1
}
.our-services-card .img-sec img{
    display: block;
    height: 20rem;
}
.our-services-card-info{
    height: 15rem;
    flex: none;
}
.our-services-card-info-container div{
    height: 80%;
    align-self: center;
}
/* PARTNERS SECTION */
.partners-section{
    height: unset;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 3rem 0 3rem 0;
}
.partners-card-container {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
/* CONTACT US PREVIEW SECTION */
.contact-us-preview-section{
    gap: 2rem;
    padding: 2rem 0 2rem 0;
}
.contact-us-preview-section > h1{
    font-size: 3rem;
    font-weight: 200;
}
.contact-us-preview-container{
    flex-direction: column;
}
.contact-us-preview-container{
    width: 88%;
    gap: 4rem;
}
/* MAP SECTION */
.map-container {
    width: 88%;
}
/* FOOTER SECTION */
.footer-content {
    width: 88%;
}
.footer-content span:first-child{
    flex: 1.9;
}
.footer-content span:nth-child(2){
    flex: 0.1;
}